.radio-btns-wrapper {
  &:not(:last-child):not(:only-child) {
    margin-bottom: 34px;
  }

  @include tablet {
    &:not(:last-child):not(:only-child) {
      margin-bottom: 41px;
    }
  }

  &__label {
    margin: 0;
    margin-bottom: 16px;
  }
  
  &__list {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    margin-top: -15px;
    margin-left: -14px;
    padding: 0;
    list-style: none;
  }

  &__item {
    flex-grow: 1;
    width: calc(50% - 14px);
    margin-top: 15px;
    margin-left: 14px;

    @include laptop {
      width: calc(33.3% - 14px);
    }
  }
}