// Colors

$color-light-sea-green:           #26c0ab;
$color-sherpa-blue:               #00494d;
$color-tax-break:                 #3d6666;
$color-blue-bayoux:               #5e7a7d;
$color-ziggurat:                  #7f9c9f;
$color-casper:                    #9ebbbd;
$color-onahau:                    #c5e4e7;
$color-azure:                     #f4fafa;
$color-white:                     #ffffff;
$color-new-york-pink:             #d57670;
$color-transparent:                 transparent;

// Typography

$font-size:                         24px;

$font-family:                       'Space Mono', monospace;

$transition-default:                0.3s ease-in-out;

$vp--768:                           768px;
$vp--1024:                          1024px;
$vp--1440:                          1440px;
